@font-face {
  font-family: GilroyBold;
  src: url(assistant/font/Gilroy-Bold.woff2);
}

@font-face {
  font-family: GilroyRegular;
  src: url(assistant/font/Gilroy-Regular.woff2);
}

@font-face {
  font-family: GilroySemiBold;
  src: url(assistant/font/Gilroy-SemiBold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GilroyRegular;
}

html,
body {
  height: 100vh;
  width: 100%;
}

#main {
  height: 100vh;
  width: 100%;
}

nav {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 13vw;
  padding-top: 3vw;
  background-color: #111;
}

nav img {
  width: 3vw;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 1.3vw;
  font-family: GilroySemiBold;
  font-weight: -10vw;
}

.rght-nav {
  display: flex;
  gap: 3vw;
}

.part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5vh;
  width: 100%;
  height: 80vh;
  background-color: #111;
  color: #fff;
}

.part-1 h1 {
  margin-top: -10vh;
  font-size: 6.8vw;
  font-family: GilroyBold;
  text-align: center;
}

.part-1 p {
  font-size: 2vw;
  font-family: GilroyBold;
  text-align: center;
}

.part-1 button {
  padding: 1.2vw 3.5vw;
  font-size: 1.5vw;
  border-radius: 60vw;
  box-sizing: inherit;
  font-family: GilroyBold;
  border: 1px solid #111;
  background-color: #ffffff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.part-1 button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.part-2 {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 60vw;
  background-image: url(assistant/image/video-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.part-2 img {
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#imgthree {
  position: absolute;
  bottom: -55vh;
  z-index: 5;
}

#imgtwo,
#imgfour {
  position: absolute;
  z-index: 4;
  bottom: -60vh;
}

#imgtwo {
  left: 24%;
}

#imgfour {
  right: 24%;
}

#imgone,
#imgfive {
  position: absolute;
  z-index: 3;
  bottom: -60vh;
}

#imgone {
  left: 10%;
}

#imgfive {
  right: 10%;
}

.part-same {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0vw 13vw;
  color: #fff;
}

.part-3 {
  background-image: url(assistant/image/deserve-more-bg.webp);
  background-size: cover;
}

.part-same h1 {
  font-size: 6.5vw;
  font-family: GilroyBold;
  line-height: 12vh;
}

.part-same h3 {
  font-size: 2vw;
  font-family: GilroyBold;
  line-height: 12vh;
}

.part-same p {
  font-size: 1.2vw;
  font-family: GilroyBold;
  width: 55%;
  margin-top: -3vh;
}

.part-same button {
  margin-top: 4vh;
  padding: 1.2vw 3.5vw;
  font-size: 1.5vw;
  border-radius: 60vw;
  box-sizing: inherit;
  font-family: GilroyBold;
  border: 1px solid #fff;
  background-color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.part-same button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.strip {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  background-color: #fff;
  padding: 0vw 10vw;
  gap: 5vh;
}

.strip h3 {
  padding-top: 2vw;
  font-size: 1.4vw;
  font-family: GilroyBold;
}

.strip img {
  padding-top: 1.7vw;
  width: 80vw;
}

.part-4 {
  background-image: url(assistant/image/money-matters-bg.webp);
  background-size: cover;
}

.part-same p {
  font-size: 1.2vw;
  font-family: GilroyBold;
  width: 58%;
  margin-top: -3vh;
}

#part-5 {
  display: flex;
  flex-direction: row;
  padding: 0vw 0vw 0vw 10vw;
  width: 100%;
  height: 110vh;
  background-color: #111;
}

.lft-part-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.scroll-txt {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 7vh;
}

.lft-part-5 p {
  width: 100%;
}

.rght-part-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20vw;
  height: 75vh;
  border-radius: 45px;
  border: 1.3vw solid #1d1d1d;
  overflow: hidden;
}

.phone-img {
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 400%;
  height: 100%;
  margin-left: -5%;
}

.phone img {
  width: 20vw;
}

/*#scroll-1 {
  transition: all cubic-bezier(0, 19, 1, 0.22, 1) 1s;
}*/

#scroll-2,
#scroll-3,
#scroll-4 {
  opacity: 0;
  transition: all cubic-bezier(0, 19, 1, 0.22, 1) 10s;
}

.part-6 {
  height: 50vh;
  width: 100%;
  background-image: url(assistant/image/neopop-image-mock.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.part-7 {
  background-image: url(assistant/image/security-bg.webp);
  background-size: cover;
}

.part-8 {
  background-image: url(assistant/image/trust-bg.webp);
  background-size: cover;
  flex-direction: row;
  align-items: center;
  gap: 18vw;
  justify-content: center;
  justify-content: space-between;
}

.part-8 h1 {
  margin-top: 20%;
  font-size: 3.9vw;
  font-variant-ligatures: none;
  line-height: 64px;
  color: rgb(248, 248, 248);
  opacity: 0.9;
}

.part-8 p {
  font-size: 1.2vw;
  font-family: GilroyRegular;
  color: rgb(248, 248, 248);
  font-variant-ligatures: none;
  line-height: 24px;
  text-indent: 0em;
  max-width: 40vw;
  max-height: 10vw;
  margin-left: -10%;
  margin-right: -2%;
  margin-bottom: 7%;
}

.part-9 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: rgb(255, 255, 255);
}

.top-part-9 {
  padding-top: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  gap: 12vw;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  opacity: 0.9;
}

.rating-value {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.5vw;
  color: rgb(236, 233, 234);
  margin-bottom: -3vw;
}

.rating-value h1 {
  font-size: 10vw;
  font-family: GilroyBold;
}

.rating-value h3 {
  font-size: 4vw;
  line-height: 3.8vw;
  font-family: GilroyBold;
}

.rating img {
  display: flex;
  width: 12vw;
  opacity: 0.9;
}

.rating button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 2vw;
  border-radius: 50px;
  border: none;
  width: 80%;
}

.rating button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.rating button img {
  width: 2.5vw;
}

.rating button h3 {
  font-family: GilroyBold;
  font-size: 2.5vw;
}

.btm-part-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-top: 10vw;
}

.slider-part {
  width: 53vw;
  height: 30vh;
  color: rgb(255, 255, 255);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

element.style {
}
.btm-part-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-top: 10vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GilroyRegular;
}
user agent stylesheet div {
  display: block;
}
.part-9 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: rgb(255, 255, 255);
}
:root {
  --swiper-navigation-size: 44px;
}
:root {
  --swiper-theme-color: #858484;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.part-10 {
  width: 100%;
  height: 255vh;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  padding: 100px 190px;
  overflow: hidden;
}

.line-1 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-1 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-1 a {
  color: rgb(255, 255, 255);
}

.line-2 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-2 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-3 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-3 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-4 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-4 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-4 a {
  color: rgb(255, 255, 255);
}

.line-5 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-5 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-5 a {
  color: rgb(255, 255, 255);
}

.line-6 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-6 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-6 a {
  color: rgb(255, 255, 255);
}

.line-7 h2 {
  font-family: GilroyBold;
  font-size: 19px;
  color: rgb(255, 255, 255);
  opacity: 2;
}

.line-7 p {
  font-size: 1.3vw;
  line-height: 28px;
  font-family: GilroyRegular;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  margin-bottom: 60px;
}

.line-7 a {
  color: rgb(255, 255, 255);
}

.btm-line-math,
#one-1 {
  font-family: GilroyBold;
  font-size: 1.2vw;
  text-decoration: none;
  padding: 0px;
  border-right: none;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}

.btm-line-math a {
  font-family: gilroyRegular;
  font-size: 1.2vw;
  text-decoration: none;
  letter-spacing: 0.75px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 0.7;
  padding: 0px 12px;
  border-right: 1px solid rgb(246, 246, 246);
}

.btm-line-math-1,
#sc-one-1 {
  font-family: GilroyBold;
  font-size: 1.2vw;
  text-decoration: none;
  padding: 0px;
  margin-top: 25px;
  border-right: none;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}

.btm-line-math-1 a {
  font-family: gilroyRegular;
  font-size: 1.2vw;
  text-decoration: none;
  letter-spacing: 0.75px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 0.7;
  padding: 0px 12px;
  border-right: 1px solid rgb(246, 246, 246);
}

.simple-line {
  border: 1px solid rgb(187, 187, 187);
  opacity: 0.4;
  margin-bottom: 10px;
}

.gsKKkv {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
  padding: 10vw 15vw;
  background-color: #111;
}

.kdQCdp {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}

.jFxLHt {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 175px;
}

.kzBPGX {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-top: 75px;
  margin-bottom: 30px;
  width: 370px;
}

.fcReWm {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: gilroyBold;
  opacity: 0.9;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cAIwMN {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: gilroyRegular;
  opacity: 0.7;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
  max-width: 510px;
}

.ihCLhs {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
}

.gRnkiE {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 30px;
  font-size: 3vw;
}

.jJsnXv {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: GilroyBold;
  opacity: 0.9;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.AiInd {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  font-family: gilroyBold;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  box-sizing: border-box;
  width: 12px;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.sFMLa {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.dBWdLH {
  font-variant-ligatures: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0px;
  color: inherit;
  font-family: gilroyRegular;
  display: block;
  opacity: 0.7;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.gRnkiE {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 30px;
}

.jJsnXv {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: gilroyBold;
  opacity: 0.9;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.AiInd {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  font-family: gilroyBold;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  box-sizing: border-box;
  width: 12px;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.sFMLa {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.dBWdLH {
  font-variant-ligatures: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0px;
  color: inherit;
  font-family: gilroyRegular;
  display: block;
  opacity: 0.7;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.gRnkiE {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 30px;
}

.jJsnXv {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: gilroyBold;
  opacity: 0.9;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.AiInd {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  font-family: gilroyBold;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  box-sizing: border-box;
  width: 12px;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.sFMLa {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.dBWdLH {
  font-variant-ligatures: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0px;
  color: inherit;
  font-family: gilroyRegular;
  display: block;
  opacity: 0.7;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.gRnkiE {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin-bottom: 30px;
}

.jJsnXv {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: gilroyBold;
  opacity: 0.9;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-bottom: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.AiInd {
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  font-family: gilroyBold;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 32px;
  box-sizing: border-box;
  width: 12px;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out 0s;
  display: none;
}

.GASOy {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  align-self: baseline;
}

.MogqY {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  opacity: 0.4;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  -webkit-box-pack: unset;
  justify-content: unset;
}

.hBUjKF {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  align-self: baseline;
}

.ejfscx {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  word-break: break-word;
}

.geRkFh {
  font-variant-ligatures: none;
  word-break: break-word;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0px;
  font-family: gilroyRegular;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 0.7;
  border-right: 1px solid rgb(246, 246, 246);
  font-size: 15px;
  letter-spacing: 0.9px;
  line-height: 23px;
  padding: 0px 20px 0px 0px;
}

.geRkFh {
  padding: 0px 15px;
}

/* .gsKKkv {
  font-family: gilroyRegular;
  font-variant-ligatures: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 70px;
  padding: 100px 60px;
} */
